.search {
  left: 25%;
  position: absolute;
  top: 35px;
  width: 100vw;
}
.search > h2 {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 350px;
  width: 559px;
}
.search > input {
  border: none;
  height: 30px;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 402px;
  width: 539px;
}
.search > input:focus {
  outline-width: 0;
}
.search > button {
  background-color: #ff7779;
  color: white;
  left: 0;
  position: absolute;
  text-transform: inherit !important;
  top: 472px;
  width: 579px;
}
.search > button:hover {
  background-color: white;
  color: #ff7779;
}
